@import "../../common/TextField.scss";

.TextField {
  padding-bottom: 0;

  &__icon {
    @extend .TextField__icon;
    font-size: 1.2em;
  }

  &__input {
    @extend .TextField__input;
    height: 1.5em;
  }
}
