.Layout {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;

  &__main {
    flex-grow: 1;
    min-width: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 1em;
    box-sizing: border-box;
    column-gap: 1em;
  }

  @mixin screen-float {
    position: absolute;
    top: 1em;
    right: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }

  &__screen {
    margin-top: 1em;
    margin-right: 1em;
    align-self: start;
    display: flex;
    gap: 0.5em;

    // Float screen buttons (note 479px corresponds to
    // where the search input floats to second row)
    @media all and (max-width: 479px) {
      @include screen-float();
    }
  }

  &:not(&--maximized) {
    .Layout__main {
      @media all and (min-width: 1024px) {
        margin-left: 10%;

        .Search {
          padding-right: 1em;
        }
      }

      @media all and (min-width: 1440px) {
        margin-right: 10%;
        
        .Search {
          padding-right: 0;
        }
      }
    }

    .Layout__screen {
      @media all and (min-width: 1440px) {
        @include screen-float();
      }
    }
  }

  &--maximized {
    .Layout__main {
      @media all and (min-width: 1024px) {
        .Search {
          padding-right: 1em;
        }
      }
    }
  }
}

@import "../../common/Button";

.Button {
  --button-color: var(--toolbar-button-color);
  --button-hover-color: var(--toolbar-button-hover-color);
  --button-toggled-color: var(--toolbar-button-toggled-color);
  
  width: var(--toolbar-button-size);
  height: var(--toolbar-button-size);

  &--search {
    display: none;
    @media all and (max-width: 479px) {
      display: inherit;
    }
  }
}

.Search {
  width: 12em;
  height: 1.8em;
  margin-left: auto;

  @media all and (min-width: 1024px) {
    width: 20em;
  }

  // This will push the search input to second row
  @media all and (max-width: 479px) {
    width: 100%;
    height: 0;
    overflow: hidden;
    margin-top: 0em;
    opacity: 0;
    transition: height 0.1s, margin-top 0.1s, opacity 0.2s;

    &--collapsibleExpanded {
      height: 2em;
      margin-top: 1em;
      opacity: 1;
    }
  }
}
