.ScreenWrapper {
  height: calc(var(--vh, 1vh) * 100);
  will-change: filter;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.ScreenWrapper--blur {
  &-enter {
    filter: blur(0) brightness(1);

    &-active {
      filter: blur(30px) brightness(0.85);
      transition: filter 100ms ease-in;
    }

    &-done {
      filter: blur(30px) brightness(0.85);
    }
  }

  &-exit {
    filter: blur(30px) brightness(0.85);

    &-active {
      filter: blur(0) brightness(1);
      transition: filter 100ms ease-in;
    }

    &-done {
      filter: blur(0) brightness(1);
    }
  }
}

.ScreenWrapper--dim {
  &-enter {
    filter: brightness(1);

    &-active {
      filter: brightness(0.4);
      transition: filter 100ms ease-in;
    }

    &-done {
      filter: brightness(0.4);
    }
  }

  &-exit {
    filter: brightness(0.4);

    &-active {
      filter: brightness(1);
      transition: filter 100ms ease-in;
    }

    &-done {
      filter: brightness(1);
    }
  }
}
