.Layout {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;

  @media all and (orientation: portrait) {
    flex-direction: column;
  }
}

.AlbumArt {
  display: var(--albumart-visibility);
  margin-right: 12px;

  &__image {
    filter: drop-shadow(0 0 8px #00000080);
    display: block;
    object-fit: var(--albumart-fit);
    width: var(--albumart-width);
    height: var(--albumart-height);
    border: var(--albumart-border);
    border-radius: var(--albumart-border-radius);
    box-sizing: border-box;
  }

  &--center {
    margin: auto !important;
  }

  @media all and (orientation: portrait) {
    margin-right: 0px;
    margin-top: 0.5em;
    margin-bottom: 1em;
  }
}

.MainContents {
  //z-index: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  color: #ccc;
  font-weight: 700;
  width: var(--track-info-width);
  height: var(--track-info-height);
  min-width: var(--track-info-min-width);
  min-height: var(--track-info-min-height);
  max-width: var(--track-info-max-width);
  max-height: var(--track-info-max-height);
}

@import "../../common/TrackInfoText";

.TrackInfoText {
  justify-content: var(--text-alignment-v);
  text-align: var(--text-alignment-h);

  &__title {
    color: var(--title-font-color);
    font-family: "Noto Sans Display", sans-serif;
    font-size: var(--title-font-size);
    margin: var(--title-margin);
    -webkit-line-clamp: var(--max-title-lines);
  }

  &__artist {
    color: var(--artist-font-color);
    font-size: var(--artist-font-size);
    margin: var(--artist-margin);
    -webkit-line-clamp: var(--max-artist-lines);
  }

  &__album {
    color: var(--album-font-color);
    font-size: var(--album-font-size);
    margin: var(--album-margin);
    -webkit-line-clamp: var(--max-album-lines);
  }

  &__format {
    margin: var(--media-info-margin);
  }

  &__formatIcon {
    height: var(--media-info-font-size);
  }

  &__formatResolution {
    font-size: var(--media-info-font-size);
    color: var(--media-info-font-color);
  }
}

@import "../../common/PlayerButtonGroup";

.PlayerButtonGroup {
  display: var(--playback-buttons-visibility);
  margin: var(--playback-buttons-margin);

  &--vcenter {
    margin-top: auto;
    margin-bottom: auto;
  }

  @media all and (orientation: landscape) {
    @media (max-width: 579px) {
      gap: 1em;
    }
    @media (min-width: 768px) {
      gap: 24px;
    }
  }

  @media all and (orientation: portrait) and (max-width: 279px) {
    gap: 1em;
  }
}

@import "../../common/Button";

.PlayerButton {
  --button-color: var(--widget-primary-color);
  --button-hover-color: var(--widget-highlight-color);
  --button-active-color: var(--widget-highlight-color);
  --button-border: none;
  --button-toggled-color: var(--widget-highlight-color);
  --button-toggled-background: none;
  --button-toggled-border: none;

  @extend .Button;

  font-size: var(--playback-buttons-size);
  width: 1em;
  height: 1.5em;

  &__icon {
    @extend .Button__icon;
    line-height: 1.5em;
    font-size: 1em;
    width: 1.5em;
    z-index: 1;
  }

  &--toggled {
    --button-color: var(--widget-highlight-color);
  }

  &--repeat,
  &--random {
    display: none;
  }

  &--play {
    --button-color: var(--widget-highlight-color);
    position: relative;

    &:before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      left: -2px;
      top: -2px;
      border: 2px solid var(--widget-highlight-color);
      border-radius: 50%;
      transition: 0.2s;
    }

    @media (hover: hover) {
      &:hover {
        color: var(--widget-primary-color) !important;

        &:before {
          background: var(--widget-highlight-color);
        }
      }
    }
    &:active {
      color: var(--widget-primary-color) !important;

      &:before {
        background: var(--widget-highlight-color);
      }
    }
  }

  @media (hover: hover) {
    &--previous:hover,
    &--next:hover {
      color: var(--widget-highlight-color);
    }
  }

  @media all and (orientation: landscape) and (min-width: 340px) {
    &--repeat,
    &--random {
      display: inline-block;
    }
  }

  @media all and (orientation: portrait) and (min-width: 240px) and (min-height: 400px) {
    &--repeat,
    &--random {
      display: inline-block;
    }
  }

  &--previous,
  &--next {
    display: none;
  }
  &--play {
    margin-right: auto;
    order: -1;
  }
  &--play::before {
    border: 0 none;
  }
  &--play &__icon {
    font-size: 3em;
  }
}

@import "../../common/Seekbar";

.Seekbar {
  --seekbar-thumb-color: var(--widget-highlight-color);
  --seekbar-track-played-color: var(--widget-highlight-color);
  --seekbar-track-remaining-color: var(--widget-primary-color);
  --seekbar-text-font-size: var(--seek-time-font-size);
  --seekbar-text-color: var(--seek-time-font-color);

  display: var(--seekbar-visibility);
  margin: var(--seekbar-margin);
}
