@import "../../common/Clock";

.DockedClock {
  @extend .Clock;

  --font-size: var(--docked-font-size, 1em);
  --date-color: var(--docked-date-color, #cccccc);
  --time-color: var(--docked-time-color, #cccccc);
  margin: var(--docked-margin, inherit);
  min-height: calc(var(--base-font-size, 1em) * 1.5);
}
