@import '../../common/animations';

.Layout {
  --art-width: #{'min(30vw, calc(calc(var(--vh, 1vh) * 100)) - 15em)'};
  --art-height: #{'min(30vw, calc(calc(var(--vh, 1vh) * 100)) - 15em)'};

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  box-sizing: border-box;

  @media (orientation: portrait) {
    --art-width: #{'min(40vw, calc(calc(var(--vh, 1vh) * 100)) - 15em)'};
    --art-height: #{'min(40vw, calc(calc(var(--vh, 1vh) * 100)) - 15em)'};
  }
}

@import '../../common/MetadataPanel';

.MetadataPanel {
  --content-font-family: var(--metadata-font-style);
  --title-primary-font-family: var(--title-font-style);
  --title-primary-color: var(--title-font-color);
  --title-primary-font-size: var(--default-title-font-size);
  --title-secondary-font-family: var(--artist-font-style);
  --title-secondary-font-color: var(--artist-font-color);
  --title-secondary-font-size: var(--default-artist-font-size);
  --info-chooser-button-color: var(--widget-primary-color);
  --info-chooser-button-hover-color: var(--widget-highlight-color);
  --info-chooser-button-active-color: var(--widget-highlight-color);
  --info-chooser-button-border: none;
  --info-chooser-button-toggled-color: var(--widget-highlight-color);
  --info-chooser-button-toggled-background: none;
  --info-chooser-button-toggled-border: none;
  --art-fit: var(--albumart-fit);
  --art-border: var(--albumart-border);
  --art-border-radius: var(--albumart-border-radius);

  flex-grow: 1;
}

@import '../../common/SyncedLyricsPanel';

.SyncedLyricsPanel {
  --text-align: var(--text-alignment-lyrics, center);
  --line-font-color: var(--synced-lyrics-color);
  --current-line-font-color: var(--synced-lyrics-current-line-color);
  --current-line-font-size: var(--synced-lyrics-current-line-font-size);
}

.BottomBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@import "../../common/PlayerButtonGroup";

.PlayerButtonGroup {
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;

  @media all and (orientation: landscape) {
    @media (max-width: 579px) {
      gap: 1em;
    }
    @media (min-width: 768px) {
      gap: 24px;
    }
  }

  @media all and (orientation: portrait) and (max-width: 279px) {
    gap: 1em;
  }
}

@import "../../common/Button";

.PlayerButton {
  --button-color: var(--widget-primary-color);
  --button-hover-color: var(--widget-highlight-color);
  --button-active-color: var(--widget-highlight-color);
  --button-border: none;
  --button-toggled-color: var(--widget-highlight-color);
  --button-toggled-background: none;
  --button-toggled-border: none;

  @extend .Button;

  font-size: var(--default-playback-buttons-size);
  width: 1.5em;
  height: 1.5em;

  &--toggled {
    @extend .Button--toggled;
  }

  &__icon {
    @extend .Button__icon;
    line-height: 1.5em;
    font-size: 1em;
    width: 1.5em;
    z-index: 1;
  }

  &--repeat,
  &--random {
    display: none;
  }

  &--play {
    --button-color: var(--widget-highlight-color);
    position: relative;

    &:before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      left: -2px;
      top: -2px;
      border: 2px solid var(--widget-highlight-color);
      border-radius: 50%;
      transition: 0.2s;
    }

    @media (hover: hover) {
      &:hover {
        color: var(--widget-primary-color) !important;

        &:before {
          background: var(--widget-highlight-color);
        }
      }
    }
    &:active {
      color: var(--widget-primary-color) !important;

      &:before {
        background: var(--widget-highlight-color);
      }
    }
  }

  @media (hover: hover) {
    &--previous:hover,
    &--next:hover {
      color: var(--widget-highlight-color);
    }
  }

  @media all and (orientation: landscape) and (min-width: 340px) {
    &--repeat,
    &--random {
      display: inline-block;
    }
  }

  @media all and (orientation: portrait) and (min-width: 240px) and (min-height: 400px) {
    &--repeat,
    &--random {
      display: inline-block;
    }
  }
}

@import "../../common/Seekbar";

.Seekbar {
  --seekbar-thumb-color: var(--widget-highlight-color);
  --seekbar-track-played-color: var(--widget-highlight-color);
  --seekbar-track-remaining-color: var(--widget-primary-color);
  --seekbar-text-font-family: var(--seek-time-font-style);

  position: relative;
  top: 5px;

  &--disabled {
    display: none;
  }
}
