@import '../../common/PopupMenu';

.Layout {
  /* Default styles */
  --default-content-padding: 20px;
  --default-content-padding-portrait: 2em 40px;
  --default-base-font-size: 10px;
  --default-title-font-style: "Noto Sans Display", sans-serif;
  --default-artist-font-style: inherit;
  --default-album-font-style: inherit;
  --default-media-info-font-style: sans-serif;
  --default-seek-time-font-style: inherit;
  --default-metadata-font-style: inherit;
  --default-title-font-size: 1.5em;
  --default-artist-font-size: 1em;
  --default-album-font-size: 0.8em;
  --default-media-info-font-size: 0.7em;
  --default-seek-time-font-size: var(--seekbar-text-font-size); // From theme
  --default-metadata-font-size: 1em;
  --default-title-font-color: #fff;
  --default-artist-font-color: #ccc;
  --default-album-font-color: #ccc;
  --default-media-info-font-color: #ccc;
  --default-seek-time-font-color: var(--seekbar-text-color); // From theme
  --default-metadata-font-color: #ccc;
  --default-text-alignment-h: unset;
  --default-text-alignment-v: unset;
  --default-text-alignment-lyrics: center;
  --default-title-margin: 0px 0px 0.2em 0px;
  --default-artist-margin: unset;
  --default-album-margin: unset;
  --default-media-info-margin: 0.8em 0px 0px 0px;
  --default-max-title-lines: 1;
  --default-max-artist-lines: 1;
  --default-max-album-lines: 1;
  --default-widget-primary-color: #fff;
  --default-widget-highlight-color: #24a4f3;
  --default-playback-buttons-visibility: flex;
  --default-seekbar-visibility: inherit;
  --default-playback-buttons-size: 1.5em;
  --default-playback-buttons-margin: 1em 0px;
  --default-seekbar-margin: unset;
  --default-albumart-visibility: inherit;
  --default-albumart-width: min(40vw, calc(var(--vh, 1vh) * 80));
  --default-albumart-height: min(40vw, calc(var(--vh, 1vh) * 80));
  --default-albumart-fit: cover;
  --default-albumart-border: none;
  --default-albumart-border-radius: 0px;
  --default-albumart-margin: 0 12px 0 0;
  --default-track-info-width: auto;
  --default-track-info-height: auto;
  --default-track-info-min-width: auto;
  --default-track-info-min-height: auto;
  --default-track-info-max-width: auto;
  --default-track-info-max-height: auto;

  --content-padding: var(--default-content-padding);
  --content-padding-portrait: var(--default-content-padding-portrait);
  --title-font-style: var(--default-title-font-style);
  --artist-font-style: var(--default-artist-font-style);
  --album-font-style: var(--default-album-font-style);
  --media-info-font-style: var(--default-media-info-font-style);
  --seek-time-font-style: var(--default-seek-time-font-style);
  --metadata-font-style: var(--default-metadata-font-style);
  --base-font-size: var(--default-base-font-size);
  --title-font-size: var(--default-title-font-size);
  --artist-font-size: var(--default-artist-font-size);
  --album-font-size: var(--default-album-font-size);
  --media-info-font-size: var(--default-media-info-font-size);
  --seek-time-font-size: var(--default-seek-time-font-size);
  --metadata-font-size: var(--default-metadata-font-size);
  --title-font-color: var(--default-title-font-color);
  --artist-font-color: var(--default-artist-font-color);
  --album-font-color: var(--default-album-font-color);
  --media-info-font-color: var(--default-media-info-font-color);
  --seek-time-font-color: var(--default-seek-time-font-color);
  --metadata-font-color: var(--default-metadata-font-color);
  --text-alignment-h: var(--default-text-alignment-h);
  --text-alignment-v: var(--default-text-alignment-v);
  --text-alignment-lyrics: var(--default-text-alignment-lyrics);
  --title-margin: var(--default-title-margin);
  --artist-margin: var(--default-artist-margin);
  --album-margin: var(--default-album-margin);
  --media-info-margin: var(--default-media-info-margin);
  --max-title-lines: var(--default-max-title-lines);
  --max-artist-lines: var(--default-max-artist-lines);
  --max-album-lines: var(--default-max-album-lines);
  --widget-primary-color: var(--default-widget-primary-color);
  --widget-highlight-color: var(--default-widget-highlight-color);
  --playback-buttons-visibility: var(--default-playback-buttons-visibility);
  --seekbar-visibility: var(--default-seekbar-visibility);
  --playback-buttons-size: var(--default-playback-buttons-size);
  --playback-buttons-margin: var(--default-playback-buttons-margin);
  --seekbar-margin: var(--default-seekbar-margin);
  --albumart-visibility: var(--default-albumart-visibility);
  --albumart-width: var(--default-albumart-width);
  --albumart-height: var(--default-albumart-height);
  --albumart-fit: var(--default-albumart-fit);
  --albumart-border: var(--default-albumart-border);
  --albumart-border-radius: var(--default-albumart-border-radius);
  --albumart-margin: var(--default-albumart-margin);
  --track-info-width: var(--default-track-info-width);
  --track-info-height: var(--default-track-info-height);
  --track-info-min-width: var(--default-track-info-min-width);
  --track-info-min-height: var(--default-track-info-min-height);
  --track-info-max-width: var(--default-track-info-max-width);
  --track-info-max-height: var(--default-track-info-max-height);

  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  padding: var(--content-padding);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-size: 100% 100%;
  font-size: var(--base-font-size);

  &__view {
    width: 100%;
    height: 100%;
  }

  @media all and (orientation: landscape) {
    --default-track-info-min-height: var(--default-albumart-height);
    --default-track-info-max-height: calc(var(--vh, 1vh) * 100);
  }

  @media all and (orientation: portrait) {
    padding: var(--content-padding-portrait);

    &__contents {
      flex-direction: column;
    }

    --default-track-info-width: 80vw;
    --default-track-info-min-width: 80vw;
    --default-track-info-max-width: 100vw;
    --default-playback-buttons-margin: 1em 0px 2em 0px;
    --default-albumart-width: min(80vw, calc(var(--vh, 1vh) * 40));
    --default-albumart-height: min(80vw, calc(var(--vh, 1vh) * 40));
  }

  @media all and (orientation: portrait) {
    @media (max-width: 279px) {
      --default-playback-buttons-size: 20px;       
    }
    @media (min-width: 320px) {
      --default-playback-buttons-size: 1.2em;
    }
    @media (min-width: 380px) {
      --default-playback-buttons-size: 1.5em;
    }
  }

  @media all and (orientation: landscape) {
    @media (max-height: 320px) {
      --default-media-info-margin: 0.2em 0px 0px 0px;
    }
  
    @media (min-width: 580px) and (min-height: 320px) {
      --default-max-title-lines: 2;
    }
  }

  @media all and (orientation: portrait) and (min-width: 240px) and (min-height: 400px) {
    --default-max-title-lines: 2;
  }

  @media all and (orientation: landscape) and (min-width: 600px) and (min-height: 320px) {
    --default-playback-buttons-margin: 1em 0px 1.5em 0px;
  }

  @media all and (orientation: portrait) {   
    --default-playback-buttons-margin: 1em 0px 2em 0px;
  }

  /* Base font sizes */

  /**
   * Landscape Orientation
   */
  @media all and (orientation: landscape) {
    @media (min-height: 240px) {
      @media (min-width: 400px) {
        --default-base-font-size: 12px;
      }
      @media (min-width: 480px) {
        --default-base-font-size: 15px;
      }
    }
    @media (min-height: 320px) and (min-width: 640px) {
      --default-base-font-size: 16px;
    }
    @media (min-height: 400px) {
      @media (min-width: 720px) {
        --default-base-font-size: 18px;
      }
      @media (min-width: 800px) {
        --default-base-font-size: 20px;
      }
    }
    @media (min-height: 480px) and (min-width: 960px) {
      --default-base-font-size: 23px;
    }
    @media (min-height: 600px) and (min-width: 1280px) {
      --default-base-font-size: 28px;
    }
    @media (min-height: 900px) {
      @media (min-width: 1400px) {
        --default-base-font-size: 30px;
      }
      @media (min-width: 1600px) {
        --default-base-font-size: 32px;
      }
    }
    @media (min-height: 1080px) {
      @media (min-width: 1680px) {
        --default-base-font-size: 34px;
      }
      @media (min-width: 1800px) {
        --default-base-font-size: 38px;
      }
    }
  }

  /**
   *  Portrait Orientation
   */
  @media all and (orientation: portrait) {
    --default-base-font-size: 10px;

    @media (min-width: 240px) {
      @media (min-height: 400px) {
        --default-base-font-size: 12px;
      }
      @media (min-height: 480px) {
        --default-base-font-size: 14px;
      }
    }
    @media (min-width: 320px) and (min-height: 640px) {
      --default-base-font-size: 16px;
    }
    @media (min-width: 400px) {
      @media (min-height: 720px) {
        --default-base-font-size: 18px;
      }
      @media (min-height: 800px) {
        --default-base-font-size: 19px;
      }
    }
    @media (min-width: 480px) and (min-height: 960px) {
      --default-base-font-size: 22px;
    }
    @media (min-width: 600px) and (min-height: 1280px) {
      --default-base-font-size: 28px;
    }
    @media (min-width: 900px) {
      @media (min-height: 1400px) {
        --default-base-font-size: 32px;
      }
      @media (min-height: 1600px) {
        --default-base-font-size: 36px;
      }
    }
    @media (min-width: 1080px) {
      @media (min-height: 1680px) {
        --default-base-font-size: 40px;
      }
      @media (min-height: 1800px) {
        --default-base-font-size: 44px;
      }
    }
  }
}

.PopupMenu {
  font-size: 1em;
  pointer-events: initial;

  &__menuButton {
    font-size: var(--default-base-font-size);
  }
}
