.Overlay {
  position: fixed;
  inset: 0;
  z-index: 200;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  background: var(--dialog-overlay-background);

  &--after-open {
    opacity: 1;
  }

  &--before-close {
    opacity: 0;
  }
}

.Layout {
  --left: calc(50vw - 50%);
  --top: calc(calc(50vh - 3em) - 50%);
  --min-vmargin: 12em;
  --max-dialog-height: calc(100vh - var(--min-vmargin));

  position: absolute;
  display: flex;
  flex-direction: column;
  background: var(--dialog-background);
  border: var(--dialog-border);
  border-radius: var(--dialog-border-radius);
  box-shadow: var(--dialog-box-shadow);
  outline: none;
  transform: translate(var(--left), var(--top));
  transition: opacity 200ms;
  width: 50vw;
  max-width: 600px;
  min-width: 300px;
  height: auto;
  max-height: var(--max-dialog-height);
  opacity: 0;
  backdrop-filter: var(--dialog-backdrop-filter);

  @media (max-height: 479px) {
    --top: calc(50vh - 50%);
    --min-vmargin: 4em;
  }

  @media (max-height: 319px) {
    --top: calc(50vh - 50%);
    --min-vmargin: 2em;
  }

  &--after-open {
    opacity: 1;
  }

  &--before-close {
    opacity: 0;
  } 

  &__header {
    padding: 0 1em;
    display: flex;
    align-items: center;
    border-bottom: var(--dialog-border);
    height: 4em;
    min-height: 4em;
    box-sizing: border-box;
  }

  &__contents {
    // --max-contents-height is passed as Scrollbars prop
    --max-contents-height: calc(var(--max-dialog-height) - 8em);
    width: 100%;
  }

  &__footer {
    border-top: var(--dialog-border);
    position: relative;
    height: 4em;
    min-height: 4em;
    display: flex;
    align-items: center;
    box-sizing: border-box;
  }
}

.Title {
  font-size: 1.1em;
  color: var(--common-foreground-color);
}

@import '../common/Button';

.Button {
  --button-color: var(--toolbar-button-color);
  --button-hover-color: var(--toolbar-button-hover-color);
  --button-toggled-color: var(--toolbar-button-toggled-color);
  
  width: var(--toolbar-button-size);
  height: var(--toolbar-button-size);

  &--close {
    margin-left: auto;
  }

  &--create {
    width: 100%;
    justify-content: flex-start;
    
    .Button__text {
      font-size: 1.1em;
    }
  }

  &--createBack {
    font-size: 0.8em;
  }

  &--confirmCreate {
    width: auto;
    color: var(--common-accent-color);

    .Button__text {
      font-size: 1.1em;
      text-transform: uppercase;
    }

    &:disabled {
      opacity: 0.5;
      color: var(--common-foreground-color);

      &:hover {
        color: var(--common-foreground-color);
      }
    }
  }
}

.Playlists {
  list-style-type: none;
  padding: 0; 
  margin: 0;
  color: var(--common-foreground-color);

  &__item {
    display: flex;
    align-items: center;
    padding: 1em;
    cursor: pointer;
    transition: 200ms;

    &:hover {
      background: var(--common-background-color-light);
    }

    &--favorites {
      margin-left: auto;
      font-size: 1.3em;
      width: 2rem;
      text-align: center;
    }
  }
}

.CreatePlaylistButtonWrapper {
  padding: 0 1em;
}

.CreatePlaylistInputWrapper {
  position: absolute;
  top: 0;
  left: 0;
  background: var(--common-background-color-light);
  padding: 0 1em;
  align-items: center;
  width: 100%;
  height: 100%;
  display: none;
  box-sizing: border-box;
  gap: 0.5em;
}

.Wrapper--fadeIn {
  &-enter {
    opacity: 0;
    display: flex;
    
    &-active {
      opacity: 1;
      transition: opacity 200ms;
    }

    &-done {
      opacity: 1;
      display: flex;
    }
  }

  &-exit {
    opacity: 1;

    &-active {
      opacity: 0;
      transition: opacity 200ms;
    }

    &-done {
      display: none;
    }
  }
}

.CreatePlaylistTextBox {
  flex-grow: 1;
  min-width: 0;
  border: none;
  outline: none;
  background: transparent;
  margin: 0 5px;
  color: var(--common-foreground-color);
  font-size: 1em;
}
