.Layout {
  --background-color: #000;
  --background-fit: cover;
  --background-position: center;
  --background-blur: 0;
  --background-scale: 1;
  --background-overlay-display: inherit;
  --background-overlay-gradient: none;
  --background-overlay-color: #000;  
  --background-overlay-opacity: 0.2;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);

  > img {
    width: 100%;
    height: 100%;
    object-fit: var(--background-fit);
    object-position: var(--background-position);
    filter: blur(var(--background-blur));
    transform: scale(var(--background-scale));
  }

  &:after {
    content: '';
    display: var(--background-overlay-display);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: var(--background-overlay-gradient);
    background-color: var(--background-overlay-color);
    opacity: var(--background-overlay-opacity);
  }
}
