@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?Noto+Sans+Display:wght@100;700&family=Roboto:wght@300;400;700&display=swap);

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  --size: 1.5em;

  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: var(--size);
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

body {
  font-family: var(--app-font-family);
  background: var(--app-background);
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior: contain;
}

.App {
  font-family: var(--app-font-family);
  overflow: hidden;
}

// Menus
.szh-menu-container--theme-dark .szh-menu {
  background-color: var(--menu-background) !important;
  backdrop-filter: var(--menu-backdrop-filter);
}
.szh-menu {
  color: var(--menu-item-color) !important;
  padding: 0.6em 0 !important;

  &__item {
    padding-left: 1rem !important;

    &:not(:last-of-type) {
      margin-bottom: 0.6em;
    }

    &--active,
    &--hover {
      background-color: unset !important;
      color: var(--menu-item-hover-color) !important;
    }
  }

}

// Scrollbars
.Scrollbar {
  &__handle {
    background-color: var(--scrollbar-handle-color) !important;

    &:active {
      background-color: var(--scrollbar-handle-active-color) !important;
    }

    &:hover {
      background-color: var(--scrollbar-handle-hover-color) !important;
    }
  }
}

.no-transitions * {
  transition: none !important;
}

// Initial loading screen
.InitialLoading {
  position: absolute;
  inset: 0;
  background-color: #000;
}
