.Background {
  --default-background-size: cover;
  --default-background-position: center;
  --default-background-blur: 50px;
  --default-background-scale: 1.5;
  --default-background-image: none;
  --default-background-color: #000;
  --default-background-overlay-color: #000;
  --default-background-overlay-opacity: 0.5;
  --default-background-overlay-display: inherit;

  --background-size: var(--default-background-size);
  --background-position: var(--default-background-position);
  --background-blur: var(--default-background-blur);
  --background-scale: var(--default-background-scale);
  --background-image: var(--default-background-image);
  --background-color: var(--default-background-color);
  --background-overlay-color: var(--default-background-overlay-color);
  --background-overlay-opacity: var(--default-background-overlay-opacity);
  --background-overlay-display: var(--default-background-overlay-display);

  width: 100%;
  height: 100%;
  background-color: var(--background-color);

  background-image: var(--background-image);
  //filter: blur(var(--background-blur));
  filter: var(--active-screen-background-filter, blur(var(--background-blur)));
  transform: scale(var(--background-scale));
  background-size: var(--background-size);
  background-position: var(--background-position);

  &--webkit {
    transition: background-image 1s ease-in-out;
  }

  &__transitioning {
    width: 100%;
    height: 100%;
    object-fit: var(--background-size);
    object-position: var(--background-position);
  } 

  // background overlay
  &:after {
    content: "";
    display: var(--background-overlay-display);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-overlay-color);
    opacity: var(--background-overlay-opacity);
  }
}
