.Clock {
  --date-color: var(--common-foreground-color);
  --time-color: var(--common-foreground-color);
  --font-size: inherit;

  display: flex;
  align-items: center;
  font-size: var(--font-size);
  gap: 0.5em;
  color: var(--common-foreground-color);

  &__date {
    color: var(--date-color);
  }

  &__time {
    color: var(--time-color);
  }
}
