.Seekbar {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  height: var(--seekbar-height);

  &__slider {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 100%;

    @mixin track-ext($position) {
      content: '';
      width: calc(var(--seekbar-thumb-size) / 2);
      height: 100%;
      position: absolute;
      top: 0;
      @if $position == start {
        left: calc(var(--seekbar-thumb-size) / -2);
        background: var(--seekbar-track-played-color);
        border-top-left-radius: var(--seekbar-track-border-radius);
        border-bottom-left-radius: var(--seekbar-track-border-radius);
      } @else if $position == end {
        right: calc(var(--seekbar-thumb-size) / -2);
        background: var(--seekbar-track-remaining-color);
        border-top-right-radius: var(--seekbar-track-border-radius);
        border-bottom-right-radius: var(--seekbar-track-border-radius);
        z-index: -1;
      }
    }

    :global {
      .rc-slider-rail {
        background-color: var(--background-color);
        background: var(--seekbar-track-remaining-color);
        height: var(--seekbar-height);
        margin-left: 0;
        position: relative;
        width: 100%;

        &:before {
          display: none;
        }
        &:after {
          display: none;
        }
      }

      .rc-slider-track {
        position: absolute;
        top: 0;
        height: var(--seekbar-height);
        background: var(--seekbar-track-played-color);
      }

      .rc-slider-step {
        display: none;
      }

      .rc-slider-handle {
        display: none;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__seek {
    color: var(--seekbar-text-color);
    display: inline-block;
    font-family: var(--seekbar-text-font-family);
    font-size: var(--seekbar-text-font-size);
    font-weight: bold;
    margin-left: 8px;
    margin-top: 4px;
    position: absolute;
    top: 0;
    width: 50%;
  }

  &__duration {
    @extend .Seekbar__seek;
    margin-left: 0;
    margin-right: 8px;
    text-align: right;
    right: 0;
  }

  &--disabled {
    visibility: hidden;
  }
}
