.Seekbar {
  &__slider {
    position: relative;
    width: calc(100% - var(--seekbar-thumb-size));
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3px;
    
    @mixin track-ext($position) {
      content: '';
      width: calc(var(--seekbar-thumb-size) / 2); 
      height: 100%;
      position: absolute;
      top: 0;
      @if $position == start {
        left: calc(var(--seekbar-thumb-size) / -2);
        background: var(--seekbar-track-played-color);
        border-top-left-radius: var(--seekbar-track-border-radius);
        border-bottom-left-radius: var(--seekbar-track-border-radius);
      }
      @else if $position == end {
        right: calc(var(--seekbar-thumb-size) / -2);
        background: var(--seekbar-track-remaining-color);
        border-top-right-radius: var(--seekbar-track-border-radius);
        border-bottom-right-radius: var(--seekbar-track-border-radius);
        z-index: -1;
      }
    }

    :global {
      .rc-slider-rail {
        position: relative;
        height: var(--seekbar-height);
        background: var(--seekbar-track-remaining-color);

        &:before {
          @include track-ext(start);
        }
    
        &:after {
          @include track-ext(end);
        }
      }

      .rc-slider-track {
        position: absolute;
        top: 0;
        height: var(--seekbar-height);
        background: var(--seekbar-track-played-color);
        border-radius: var(--seekbar-track-border-radius);
      }

      .rc-slider-step {
        display: none;
      }

      .rc-slider-handle {
        position: absolute;
        top: calc(calc(var(--seekbar-height) - var(--seekbar-thumb-size)) / 2);
        background: var(--seekbar-thumb-color);
        width: var(--seekbar-thumb-size);
        height: var(--seekbar-thumb-size);
        border-radius: 50%;
        outline: none;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__seek {
    display: inline-block;
    width: 50%;
    font-family: var(--seekbar-text-font-family);
    font-size: var(--seekbar-text-font-size);
    font-weight: 100;
    color: var(--seekbar-text-color);
    margin-top: 0.5em;
  }
  
  &__duration {
    @extend .Seekbar__seek;
    text-align: right;
  }

  &--disabled {
    visibility: hidden;
  }
}
