.Layout {
  --volume-level: 0;
  --slider-track-highlight-color: var(--volume-slider-track-highlight-color);

  box-sizing: border-box;
  background: var(--volume-slider-background);
  border: var(--volume-slider-border);
  border-radius: var(--volume-slider-border-radius);
  display: flex;
  align-items: center;
  padding: 1em;
  pointer-events: auto;
  position: relative;
  backdrop-filter: var(--volume-slider-backdrop-filter);
  box-shadow: var(--common-box-shadow);

  &--disabled:after {
    content: "\e14b";
    font-family: "Material Icons";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    text-align: center;
    color: var(--volume-slider-disabled-icon-color);
  }

  &--muted {
    --slider-track-highlight-color: var(--volume-slider-track-muted-color);
  }

  &--horizontal {
    width: 100%;
  
    --mute-button-margin: 0 10px 0 0;
    --max-button-margin: 0 0 0 10px;
    --slider-width: inherit;
    --slider-height: var(--volume-slider-horizontal-track-height);
    --slider-track-width: var(--volume-level);
    --slider-track-height: var(--volume-slider-horizontal-track-height);
    --slider-track-top: 0;
    --slider-track-bottom: inherit;
    --slider-thumb-width: var(--volume-slider-horizontal-track-height);
    --slider-thumb-height: var(--volume-slider-horizontal-track-height);
  }

  &--vertical {
    height: 100%;
    flex-direction: column-reverse;
  
    --mute-button-margin: inherit;
    --max-button-margin: inherit;
    --slider-width: var(--volume-slider-vertical-track-width);
    --slider-height: inherit;
    --slider-track-width: var(--volume-slider-vertical-track-width);
    --slider-track-height: var(--volume-level);
    --slider-track-top: inherit;
    --slider-track-bottom: 0;
    --slider-thumb-width: var(--volume-slider-vertical-track-width);
    --slider-thumb-height: var(--volume-slider-vertical-track-width);
  }
}

.Slider {
  width: var(--slider-width);
  height: var(--slider-height);
  flex-grow: 1;
  background: var(--volume-slider-track-base-color);
  border-radius: 0.75em;
  overflow: hidden;
  position: relative;

  &:hover {
    cursor: pointer;
  }

  &__track {
    width: var(--slider-track-width);
    height: var(--slider-track-height);
    background: var(--slider-track-highlight-color);
    position: absolute;
    top: var(--slider-track-top);
    bottom: var(--slider-track-bottom);
    left: 0;
  }
  
  &__thumb {
    width: var(--slider-thumb-width);
    height: var(--slider-thumb-height);
    background: transparent;
    top: 0;
    left: 0;
    transform: translateX(-50%);
    opacity: 0.5;
  }
}

@import './Button';

.Button {
  --button-font-size: var(--volume-slider-button-font-size);
  line-height: 1.5em;

  &__icon {
    font-size: 1.3em;
    line-height: 1.5em;
  }

  &--mute {
    margin: var(--mute-button-margin);
  }

  &--max {
    margin: var(--max-button-margin);
  }
}
